<%- include('../wrappers/head', {title: 'Invoicing Unavailable'}); %>
<section>
  <center>
    <h1>Unavailable</h1>
    <p>Either Invoicing is down, or you aren't logged in somehow, just <a href="/login">login again</a> and that should fix it.</p>
  </center>
</section>
<%- include('../wrappers/foot'); %>