* {transition: all 0.2s linear;}

header {
  background: #ccc;
  nav {
    a {
      padding: 5px 10px;
      margin: 5px 8px;
    }
    float: right;
    width: 50%;
  }
  div {
    img#logo {
      width: 25%;
      transform: scaleX(2);
      margin: 0 1px;
      border-radius: 10px;
    }
    width: 50%;
    float: left;
  }
}
@media (min-width: 1200px) {
  wrapper {
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
}
wrapper {
  padding: 0;
  
  footer {
    height: 120px;
    background: #eee;
    padding: 2px;
    border-top: 3px solid black;
  }
  header {
    border-bottom: 2px solid black;
  }
}
a, a:visited {
  text-decoration: none;
  color: #005f7a;
  &:hover {
    color: #10af7a;
  }
  &.nav-item {
    border-radius: 10px;
    background: #bbb;
    border: 1px solid black;
  }
  &.nav-item:hover {
    background: #aaa;
    color: #000;
  }
}
form {
  input {
    margin: 5px 0;
  }
}
#slideshow {
  width: 100%;
  position: absolute;
  top: 0; left: 0;
  z-index: 0;
  img {display: none;}
  img:first-child {display: block;}
}