<%- include('head', {title: "Cart"}); %>
<section>
  <center>
    <h1>Cart</h1>
    <div id="cart-view"></div>
    <script src="/js/cart/view.js"></script>
    <script src="/js/cart/remove.js"></script>
  </center>
</section>
<%- include('foot'); %>