<%- include('head', {title: "Cart"}); %>
<section>
  <center>
    <h1>Cart</h1>
    <h3>We Accept: </h3>
    <flex justify="evenly" id="card-wrapper">
      <a href="javascript:selectCard('visa');"><img class="card-logo" src="/assets/cards/visa.png" alt="Visa Logo" /></a>
      <a href="javascript:selectCard('mast');"><img class="card-logo" src="/assets/cards/mastercard.png" alt="Mastercard Logo" /></a>
      <a href="javascript:selectCard('amex');"><img class="card-logo" src="/assets/cards/amex.png" alt="American Express Logo" /></a>
      <a href="javascript:selectCard('disc');"><img class="card-logo" src="/assets/cards/discover.png" alt="Discover Card Logo" /></a>
    </flex><br>
    <div id="cart-view"></div>
    <script src="/js/cart/view.js"></script>
    <script src="/js/cart/remove.js"></script>
    <script src="/js/cart/checkout.js"></script>
    <script src="/js/cart/cards.js"></script>
  </center>
</section>
<%- include('foot'); %>