<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if(locals.title) { %>
        <%= title %>
      <% } else { %>
        The Price is Nice Cleaning
      <% } %>
    </title>
    <link rel="stylesheet" media="screen" href="/css/placss.css" />
    <link rel="stylesheet" media="screen" href="/css/main.css" />
    <script src="/js/dependency_factory.js"></script>
    <script src="/js/placss.js"></script>
    <script>installDeps();</script>
  </head>
  <body>
    <wrapper>
      <header>
        <flex justify="space-between">
          <div id="logo">
            <img src="/assets/logo.png" alt="Price is Nice Cleaning Logo" />
          </div>
          <nav>
            <flex justify="evenly" row nowrap>
              <% if(userid !== 'guest') { %>
                <a class="nav-item" href="/">Home</a>
                <a class="nav-item" href="/services">Services</a>
                <a class="nav-item" href="/cart">Cart</a>
                <a class="nav-item" href="/auth/logout">Logout</a>
              <% } else { %>
                <a class="nav-item" href="/">Home</a>
                <a class="nav-item" href="/services">Services</a>
                <a class="nav-item" href="/cart">Cart</a>
                <a class="nav-item" href="/auth/signup">Sign-up</a>
                <a class="nav-item" href="/auth/login">Sign-in</a>
              <% } %>
            </flex>
          </nav>
        </flex>
      </header>
      <main>