<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="robots.txt" content="index, follow, archive" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui,viewport-fit=cover" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="/assets/favicon.jpg" />
    <title>
      <% if(locals.title) { %>
        <%= title %>
      <% } else { %>
        The Price is Nice Cleaning
      <% } %>
    </title>
    <link rel="stylesheet" media="screen" href="/css/placss.css" />
    <link rel="stylesheet" media="screen" href="/css/main.css" />
    <script src="/js/dependency_factory.js"></script>
    <script src="/js/placss.js"></script>
    <script src="/js/cart/index.js"></script>
    <script>installDeps();</script>
  </head>
  <body>
    <wrapper>
      <header>
        <div>
          <a href="/">
            <img id="logo" src="/assets/logo.jpg" alt="Price is Nice Cleaning Logo (Est. 2022)" />
          </a>
        </div>
        <nav>
          <flex justify="evenly" row nowrap>
            <a class="nav-item" href="/">Home</a>
            <a class="nav-item" href="/services">Services</a>
            <a class="nav-item" href="/cart">Cart</a>
          </flex>
        </nav>
      </header>
      <main>
