<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="robots.txt" content="index, follow, archive" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui,viewport-fit=cover" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="/assets/favicon.jpg" />
    <title>
      <% if(locals.title) { %>
        <%= title %>
      <% } else { %>
        The Price is Nice Cleaning
      <% } %>
    </title>
    <link rel="stylesheet" media="screen" href="/css/placss.css" />
    <link rel="stylesheet" media="screen" href="/css/main.css" />
    <script src="/js/dependency_factory.js"></script>
    <script src="/js/placss.js"></script>
    <script>installDeps();</script>
  </head>
  <body>
    <wrapper>
      <header>
        <div>
          <a href="/">
            <img id="logo" src="/assets/logo.jpg" alt="Price is Nice Cleaning Logo" />
          </a>
        </div>
        <nav>
          <!-- <div id="slideshow">
            <h2>Clean Windows for Cheap!</h2>
            <img src="/assets/pic1.jpg" alt="Step 1: Apply Cleaning Solution" />
            <img src="/assets/pic2.jpg" alt="Step 2: Scrub" />
            <img src="/assets/pic3.jpg" alt="Step 3: Rinse" />
            <img src="/assets/pic4.jpg" alt="Step 4: Squegee" />
          </div> -->
          <flex justify="evenly" row nowrap>
            <% if(userid !== 'guest') { %>
              <a class="nav-item" href="/">Home</a>
              <a class="nav-item" href="/services">Services</a>
              <a class="nav-item" href="/cart">Cart</a>
              <a class="nav-item" href="/auth/logout">Logout</a>
            <% } else { %>
              <a class="nav-item" href="/">Home</a>
              <a class="nav-item" href="/services">Services</a>
              <a class="nav-item" href="/cart">Cart</a>
              <a class="nav-item" href="/auth/signup">Sign-up</a>
              <a class="nav-item" href="/auth/login">Sign-in</a>
            <% } %>
          </flex>
        </nav>
      </header>
      <main>
