<%- include('head'); %>
<section>
  <center>
    <div id="slideshow">
      <h2></h2>
      <img src="/assets/pic1.jpg" alt="Step 1: Apply Cleaning Solution" />
      <img src="/assets/pic2.jpg" alt="Step 2: Scrub" />
      <img src="/assets/pic4.jpg" alt="Step 3: Squegee" />
    </div>
    <script src="/js/slideshow.js"></script>
    <div>
      <p>Welcome to The Price is Nice Cleaning, excellent clean at an affordable price.</p>
    </div>
  </center>
</section>
<%- include('foot'); %>