<%- include('head'); %>
<section>
  <center>
    <h1>Welcome to The Price is Nice Cleaning!</h1>
    <p>We offer many services at an affordable price!</p>
  </center>
</section>
<%- include('foot'); %>