<%- include('head'); %>
<section>
  <center>
    <div id="desc">
      <p>Welcome to The Price is Nice Cleaning. We are a brand new company in the Fox Valley that started in May of 2022. Own and run by Clarence Price, based in Oshkosh Wisconsin, we service most surrounding counties, including Outagamie and Fond Du Lac counties. We offer daily, weekly, biweekly, and one time service options. We are excited and committed to service all your cleaning needs and necessities! Check out our available services!</p>
      <a href="/services/window-washing" id="DEAL">
        <h2>Check Out Our Window Washing Service!</h2>
        <h3>50% Off Until September 22nd!</h3>
      </a>
    </div>
    <div id="slideshow">
      <h2></h2>
      <img src="/assets/pic1.jpg" alt="Step 1: Apply Cleaning Solution" />
      <img src="/assets/pic2.jpg" alt="Step 2: Scrub" />
      <img src="/assets/pic4.jpg" alt="Step 3: Squegee" />
    </div>
    <script src="/js/slideshow.js"></script>
  </center>
</section>
<%- include('foot'); %>