* {
  transition: all 0.2s linear;
}

header {
  background: #ccc;
}
header nav {
  float: right;
  width: 50%;
}
header nav a {
  padding: 5px 10px;
  margin: 5px 8px;
}
header div {
  width: 50%;
  float: left;
}
header div img {
  width: 60%;
  margin: 0 1px;
  border-radius: 10px;
}

wrapper {
  padding: 0;
}
wrapper footer {
  height: 120px;
  background: #eee;
  padding: 2px;
}

a, a:visited {
  text-decoration: none;
  color: #005f7a;
}
a:hover, a:visited:hover {
  color: #10af7a;
}
a.nav-item, a:visited.nav-item {
  border-radius: 10px;
  background: #bbb;
  border: 1px solid black;
}
a.nav-item:hover, a:visited.nav-item:hover {
  background: #aaa;
  color: #000;
}

form input {
  margin: 5px 0;
}

#slideshow {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}