* {
  transition: all 0.2s linear;
}

#mnav {
  position: absolute;
  width: 35%;
  height: 100%;
  background: #bbb;
  top: 0;
  left: -35%;
  font-size: 2em;
  z-index: 1;
  text-align: center;
}
#mnav .nav-item {
  border: none;
  border-radius: none;
}

#menubtn {
  position: absolute;
  background: #005f7a;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-left: 10px;
  padding: 2px;
  z-index: 1;
}
#menubtn:hover .bar {
  background: #bbb;
}
#menubtn .bar {
  width: 70%;
  height: 8px;
  margin: auto;
  background: #888;
}

header {
  background: #ccc;
}
header #nav {
  float: right;
  width: 50%;
}
header #nav a {
  padding: 5px 10px;
  margin: 5px 8px;
  font-size: 1.5em;
}
header div {
  width: 50%;
  float: left;
}
header div img#logo {
  width: 25%;
  transform: scaleX(2);
  margin: 0 1px;
  border-radius: 10px;
}

@media (min-width: 1200px) {
  wrapper {
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
}
wrapper {
  padding: 0;
}
wrapper footer {
  height: 120px;
  background: #eee;
  padding: 2px;
  border-top: 3px solid black;
}
wrapper header {
  border-bottom: 2px solid black;
}
wrapper main section {
  overflow: hidden;
}

a, a:visited {
  text-decoration: none;
  color: #005f7a;
}
a:hover, a:visited:hover {
  color: #10af7a;
}
a.nav-item, a:visited.nav-item {
  border-radius: 10px;
  background: #bbb;
  border: 1px solid black;
}
a.nav-item:hover, a:visited.nav-item:hover {
  background: #aaa;
  color: #000;
}

#slideshow {
  width: 45%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow-y: hidden;
}
#slideshow img {
  width: 80%;
  display: none;
  opacity: 0;
}

#desc {
  width: 55%;
  float: right;
  font-size: 2em;
}

.add-btn {
  text-decoration: none;
}

.remove-btn {
  text-decoration: none;
}

#service-list a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.card {
  width: 30%;
  display: block;
  margin: 10px;
  padding: 5px;
  background: #eee;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #222;
}
.card img {
  width: 89%;
  border-radius: 10px;
}
.card a {
  font-size: 1.2em;
}

#cart-view table, #cart-view td {
  border: 1px solid black;
  border-collapse: collapse;
}
#cart-view th, #cart-view tr, #cart-view td {
  text-align: center;
}
#cart-view td {
  padding: 5px;
}

#DEAL {
  display: inline-block;
  background: #ccc;
  border-radius: 15px;
}

#DEAL:hover {
  background: #eee;
}

#left {
  width: 50%;
  float: left;
}
#left img {
  width: 95%;
  margin: 5px;
  border-radius: 10px;
}

#right {
  font-size: 1.3em;
  width: 50%;
  float: right;
}

.card-logo {
  width: 100px;
  height: 70px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

#card-wrapper {
  display: inline-block;
  width: 100%;
  margin: auto;
}

@media (max-width: 720px) {
  #right, #left {
    font-size: 1.5em;
    width: 100%;
    float: none;
  }

  #DEAL {
    font-size: 0.85em;
  }

  #slideshow, #desc {
    float: none;
    width: 100%;
    position: relative;
  }

  header div {
    width: 100%;
    float: none;
  }

  .card {
    width: 100%;
  }
  .card img {
    width: 80%;
  }

  #cart-view {
    font-size: 1.4em;
  }
}