* {
  transition: all 0.2s linear;
}

#mnav {
  position: absolute;
  width: 35%;
  height: 100%;
  background: #bbb;
  top: 0;
  left: -35%;
  font-size: 2em;
  z-index: 1;
  text-align: center;
}
#mnav .nav-item {
  border: none;
  border-radius: none;
}

#menubtn {
  position: absolute;
  background: #005f7a;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-left: 10px;
  padding: 2px;
  z-index: 1;
}
#menubtn:hover .bar {
  background: #bbb;
}
#menubtn .bar {
  width: 70%;
  height: 8px;
  margin: auto;
  background: #888;
}

header {
  background: #ccc;
}
header #nav {
  float: left;
  width: 70%;
}
header #nav a {
  padding: 5px 10px;
  margin: 5px 8px;
  font-size: 1.5em;
}
header div {
  overflow: hidden;
  width: 30%;
  float: left;
}
header div img#logo {
  width: 50%;
  border: 1px solid black;
  margin: 0 1px;
  border-radius: 10px;
}
header div img#logo:hover, header div img#logo:focus {
  width: 51%;
  border: 2px solid black;
}

@media (min-width: 1200px) {
  wrapper {
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
}
wrapper {
  padding: 0;
}
wrapper footer {
  height: 120px;
  background: #eee;
  padding: 2px;
  border-top: 3px solid black;
}
wrapper header {
  border-bottom: 2px solid black;
}
wrapper main section {
  overflow: hidden;
}

input[type=date], input[type=text], input[type=password], input[type=email], input[type=tel] {
  border: none;
  border-bottom: 1px solid black;
  padding: 2px;
  font-weight: 200;
  font-size: 1.1em;
}

input[type=date]:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus {
  border: none;
  border-style: none;
  outline: none;
  border-bottom: 3px solid black;
  font-weight: 500;
}

.breadcrumbs {
  font-weight: bolder;
  overflow: hidden;
}

.breadcrumbs a, .breadcrumbs a:visited {
  display: inline;
  background: white;
  border-radius: 20px;
  padding: 8px;
  color: black;
}

.breadcrumbs a:hover {
  color: #000 !important;
  background: #888;
}

input[type=submit] {
  background: #ccc;
  border-radius: 10px;
  padding: 4px;
}

a, a:visited, input[type=submit] {
  text-decoration: none;
  color: #005f7a;
}
a:hover, a:focus, a:visited:hover, a:visited:focus, input[type=submit]:hover, input[type=submit]:focus {
  color: #10af7a;
  cursor: pointer;
}
a.nav-item, a:visited.nav-item, input[type=submit].nav-item {
  border-radius: 10px;
  background: #bbb;
  border: 1px solid black;
}
a.nav-item:hover, a.nav-item:focus, a:visited.nav-item:hover, a:visited.nav-item:focus, input[type=submit].nav-item:hover, input[type=submit].nav-item:focus {
  background: #aaa;
  color: #000;
}
a.circle, a:visited.circle, input[type=submit].circle {
  border-radius: 100%;
  padding: 6px;
  background: #008cb3;
  color: #333;
  font-weight: bolder;
}
a.circle:hover, a:visited.circle:hover, input[type=submit].circle:hover {
  background: #006682;
  color: #ccc;
}

#slideshow {
  width: 45%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow-y: hidden;
}
#slideshow img {
  width: 80%;
  display: none;
  opacity: 0;
}

#desc {
  width: 55%;
  float: right;
  font-size: 2em;
}

.add-btn, .remove-btn {
  text-decoration: none;
}

#service-list a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.card {
  width: 30%;
  display: block;
  margin: 10px;
  padding: 5px;
  background: #eee;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #222;
}
.card img {
  width: 89%;
  border-radius: 10px;
}
.card a {
  font-size: 1.2em;
}

.cart-view {
  border-collapse: collapse;
  width: 99%;
  margin: 5px;
}
.cart-view td, .cart-view th {
  border: 1px solid black;
  padding: 5px;
}
.cart-view td a, .cart-view th a {
  color: #ef0000;
}
.cart-view td a:hover, .cart-view th a:hover {
  color: #9c0000;
}
.cart-view th, .cart-view tr, .cart-view td {
  text-align: center;
}

.DEAL {
  display: inline-block;
  background: #ccc;
  border-radius: 15px;
  padding: 5px;
}

.DEAL:hover {
  background: #eee;
}

#left {
  width: 50%;
  float: left;
}
#left img {
  width: 95%;
  margin: 5px;
  border-radius: 10px;
}

#right {
  font-size: 1.3em;
  width: 50%;
  float: right;
}

.left, .right {
  display: block;
  width: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.card-logo {
  width: 100px;
  height: 70px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

#card-wrapper {
  display: inline-block;
  width: 100%;
  margin: auto;
}

.selected img {
  border: 3px solid darkblue;
}

fieldset {
  padding: 5px;
  border-radius: 15px;
  border: 3px solid black;
}

fieldset input {
  margin: 5px;
}

.readonly {
  border: none;
  border-bottom: 1px solid black;
  font-weight: bolder;
  width: auto;
  height: auto;
}

#frequencyContainer {
  opacity: 0;
}

@media (max-width: 950px) {
  header div {
    width: 20%;
  }
  header div #logo {
    width: 90%;
  }
  header #nav {
    width: 80%;
  }
}
@media (max-width: 800px) {
  header div {
    padding: 0;
  }
  header div #logo {
    width: 100%;
    margin: 0;
  }
  header #nav a {
    margin: 5px 3px;
  }
}
@media (max-width: 720px) {
  #right, #left {
    font-size: 1.5em;
    width: 100%;
    float: none;
  }
  .DEAL {
    font-size: 0.85em;
  }
  #slideshow, #desc {
    float: none;
    width: 100%;
    position: relative;
  }
  header div {
    width: 100%;
    float: none;
  }
  .card {
    width: 100%;
  }
  .card img {
    width: 80%;
  }
  #cart-view {
    font-size: 1.4em;
  }
}