<%- include('../wrappers/head', {title: "Deletion fail"}); %>
<section>
  <center>
    <h1>There was an issue deleting your account, check if you have any outstanding balances!</h1>
    <a href="/invoicing/" class="DEAL">Check Invoices</a>
  </center>
</section>
<%- include('../wrappers/foot'); %>