<%- include('../wrappers/head', {title: "Deletion Successful"}); %>
<section>
  <center>
    <h1>Profile Deletion Successful!</h1>
    <a href="/" class="DEAL">Back to Home</a>
  </center>
</section>
<%- include('../wrappers/foot'); %>