<%- include('../wrappers/head', {title: "Unable to Complete Purchase"}); %>
<section>
  <center>
    <h1>Purchase Failed!</h1>
    <p>Could be incorrect card number, could be wrong CVC, could be wrong date, please go back and check!</p>
    <a href="/pay" class="DEAL">Back to Checkout</a>
  </center>
</section>
<%- include('../wrappers/foot'); %>