<%- include("../head", {title: "About Us"}); %>
<section>
  <center>
    <h1>About Us</h1>
    <p>Welcome to The Price is Nice Cleaning. We are a brand new company in the Fox Valley that started in May of 2022. Owned and operated by Clarence Price, based in Oshkosh Wisconsin, we service most surrounding counties, including Outagamie and Fond Du Lac counties. We offer daily, weekly, biweekly, and one time service options. We are excited and committed to service all your cleaning needs and necessities! Check out our available services!</p>
  </center>
</section>
<%- include("../foot"); %>