<%- include("../head", {title: "Policies"}); %>
<section>
  <center>
    <h1>Our Policies</h1>
    <p>Your personal information will only be used to handle payments, the info is discarded by us after the transaction finalizes. Any complaints can be taken up through our <a href="mailto:pinc_service@thepriceisnicecleaning.com?subject=I%20Have%20a%20Question">customer service email</a>!</p>
  </center>
</section>
<%- include("../foot"); %>