<%- include("../head", {title: "Refunds and Cancellation"}); %>
<section>
  <center>
    <h1>Refunds and Cancellation Policy</h1>
    <p>No refunds unless internal error on our end or banks end, cancellation will result in only a 50% refund and blatant ignorance of an appointment date will result in no refund at all.</p>
  </center>
</section>
<%- include("../foot"); %>