      </main>
      <footer>
        <center>
          <flex justify="space-around">
            <div>
              <p>Contact Us @</p>
              <a href="mailto:clarenceprice@thepriceisnicecleaning.com">clarenceprice@thepriceisnicecleaning.com</a>
              <p>OR</p>
              <a href="tel:19205097531">(920)509-7531</a>
            </div>
            <div>
              <a href="/terms">Terms and Conditions</a><br>
              <a href="/policies">Policies</a><br>
              <a href="/refunds">Refunds and Cancellation</a>
            </div>
          </flex>
        </center>
      </footer>
    </wrapper>
  </body>
</html>