<%- include("../wrappers/head", {title: "Terms and Conditions"}); %>
<section>
  <center>
    <h1>Our Terms</h1>
    <p>By using this site, you agree to the use of browser cache, and the handoff of various personal informations for payment purposes only. These are mandatory obligations as they are required for the site to run properly, any violation of these will result in rigorous consequences.</p>
  </center>
</section>
<%- include("../wrappers/foot"); %>