<%- include('../head', {title: 'Services'}); %>
<section>
  <center>
    <h1>Services</h1>
    <flex column wrap>
      <% services.forEach((service) => {
          const _service = service.name.replace(" ","-"); %>
        <a href="<%= `/services/${_service.toLowerCase()}` %>"><%= service.name %></a>
      <% }); %>
    </flex>
  </center>
</section>
<%- include('../foot'); %>